
<!-- ESTO ESTÁ SOLO PORQUE SE SOLAPA LA BARRA DE NAVEGACIÓN CON EL CONTENIDO :( -->
<main id="main">
    <section>
      <div class="content">
        <div class="container">
  
        </div>
      </div>
    </section>
  </main>
  
  <div class="row">
          <div class="col-sm-4 col-md-3 offset-md-1">
            <h3>Publicar Producto</h3>
          </div>
  </div>
  
  <form name="FormRegistro" [formGroup]='FormRegistro'>
    <div class="container-fluid">
      <fieldset>

                    <!--campo precio-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Precio">Precio<span
                    class="text-danger">*</span>:</label>
        </div>
        <div class="col-sm-8 col-md-6">
          <input type="text" name="Precio" maxlength="7" class="form-control" formControlName="Precio"
            [ngClass]="{'is-invalid': (FormRegistro.controls['Precio'].touched)  
            && FormRegistro.controls['Precio'].errors, 'is-valid': FormRegistro.controls.Precio.valid}" />
          <div class="validacion" *ngIf="(FormRegistro.controls['Precio'].touched) 
                       && FormRegistro.controls['Precio'].hasError('required')">
            Dato requerido.
          </div>
          <div class="validacion" *ngIf="(FormRegistro.controls['Precio'].touched) 
               && FormRegistro.controls['Precio'].hasError('pattern')">
            Dato numérico, 1 a 7 dígitos.
          </div>
        </div>
      </div>
      <!--campo cantidad-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Cantidad">Cantidad<span
                    class="text-danger">*</span>:</label>
        </div>
        <div class="col-sm-8 col-md-6">
          <input type="text" name="Cantidad" maxlength="7" class="form-control" formControlName="Cantidad"
            [ngClass]="{'is-invalid': (FormRegistro.controls['Cantidad'].touched)  
            && FormRegistro.controls['Cantidad'].errors, 'is-valid': FormRegistro.controls.Cantidad.valid}" />
          <div class="validacion" *ngIf="(FormRegistro.controls['Cantidad'].touched) 
                        && FormRegistro.controls['Cantidad'].hasError('required')">
            Dato requerido.
          </div>
          <div class="validacion" *ngIf="(FormRegistro.controls['Cantidad'].touched) 
                && FormRegistro.controls['Cantidad'].hasError('pattern')">
            Dato numérico, 1 a 7 dígitos.
          </div>
        </div>
      </div>

              <!-- campo fecha de vencimiento -->
              <div class="row">
                <div class="col-sm-4 col-md-3 offset-md-1">
                  <label class="col-form-label"
                    >Fecha de Vencimiento<span class="text-danger">*</span>:
                  </label>
                </div>
                <div class="col-sm-8 col-md-6">
                  <div class="input-group inputMedio">
                    <input
                      class="form-control"
                      placeholder="dd/mm/aaaa"
                      maxlength="10"
                      formControlName="FechaVencimiento"
                      ngbDatepicker
                      [minDate]="{ year: 1900, month: 1, day: 1 }"
                      [maxDate]="{ year: 2031, month: 1, day: 1 }"
                      #RefFechaIngreso="ngbDatepicker"
                      [ngClass]="{
                        'is-invalid':
                          (FormRegistro.controls.FechaVencimiento.touched) &&
                          FormRegistro.controls.FechaVencimiento.errors,
                        'is-valid': FormRegistro.controls.FechaVencimiento.valid
                      }"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="RefFechaIngreso.toggle()"
                      >
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                  <div
                  class="validacion"
                  *ngIf="
                  (FormRegistro.controls['FechaVencimiento'].touched) 
                  && FormRegistro.controls['FechaVencimiento'].hasError('required')" > Dato requerido.  </div>
                <div class="validacion" *ngIf="(FormRegistro.controls['FechaVencimiento'].touched) 
                && FormRegistro.controls['FechaVencimiento'].hasError('pattern')">
                  Dato fecha, formato dd/mm/aaaa. Año >= 1900
                </div>
                </div>
              </div>
    
      <!-- Campo Medios de pago aceptados -->
<div class="row">
    <div class="col-sm-4 col-md-3 offset-md-1">
      <label class="col-form-label">Medios de pago aceptados:</label>
    </div>
    <div class="col-6">
      <div class="custom-control custom-checkbox">
        <input
          class="custom-control-input"
          type="checkbox"
          id="Efectivo"
          formControlName="Efectivo"
        />
        <label class="custom-control-label" for="Efectivo">
          Efectivo en el local
        </label>
      </div>
      <div class="custom-control custom-checkbox">
        <input
          class="custom-control-input"
          type="checkbox"
          id="MercadoPago"
          formControlName="MercadoPago"
        />
        <label class="custom-control-label" for="MercadoPago">
          Mercado Pago
        </label>
      </div>
      <div class="custom-control custom-checkbox">
        <input
          class="custom-control-input"
          type="checkbox"
          id="Transferencia"
          formControlName="Transferencia"
        />
        <label class="custom-control-label" for="Transferencia">
          Transferencia
        </label>
      </div>
    </div>
  </div>


      </fieldset>
  <!-- Botones Grabar, Cancelar/Volver' -->
  <br>
  <br>
  <div class="row justify-content-center botones">
    <button type="button" class="btn btn-primary">
          <i class="fa fa-check"></i> Grabar
      </button>
    &nbsp;
    <button type="button" class="btn btn-warning">
          <i class="fa fa-undo"></i> Volver
      </button>
  </div>
  
    </div>
  </form>

