
<!-- ESTO ESTÁ SOLO PORQUE SE SOLAPA LA BARRA DE NAVEGACIÓN CON EL CONTENIDO :( -->
<main id="main">
  <section>
    <div class="content">
      <div class="container">

      </div>
    </div>
  </section>
</main>

<div class="row">
  <div class="col-sm-4 col-md-3 offset-md-1">
    <h3>Mis Productos</h3>
  </div>
</div>

<!-- Formulario Filtro de busqueda, se ve cuando la accion es Listado(busqueda/listado)-->
<form name="FormBusqueda" [formGroup]='FormBusqueda' *ngIf="AccionABMC == 'I' || AccionABMC == 'B'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <label class="col-form-label">Nombre:</label>
      </div>
      <div class="col-sm-8 col-md-4">
        <input type="text" name="Nombre" class="form-control" formControlName="Nombre" maxlength="55"/>
      </div>
    
    </div>

    <hr>

    <!-- Botones -->
    <div class="row justify-content-center botones">
      <button type="button" class="btn btn-primary" (click)="Buscar()">
            <i class="fa fa-search"> </i> Buscar
        </button>
      <button type="button" class="btn btn-primary" (click)="Agregar()">
            <i class="fa fa-plus"> </i> 
            Agregar
        </button>
    </div>
  </div>
  <!-- Tabla de resutados de busqueda -->
<div class=container id="divTablaResultados" *ngIf="AccionABMC == 'B'">
  <table class="table table-hover table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Marca</th>
        <th class="text-center">Descripcion</th>
        <th class="text-center">Categoria</th>
        <th class="text-center">Imagen</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of Productos">
        <td>{{prod.IdProducto}}</td>
        <td>{{prod.Nombre}}</td>
        <td>{{prod.Marca}}</td>
        <td>{{prod.Descripcion}}</td>
        <td>{{prod.Categoria}}</td>
        <td>{{prod.Imagen}}</td>
        <td class="text-center text-nowrap">
          <button class="btn btn-sm btn-outline-danger" title="Eliminar">Eliminar
          </button>
          <button class="btn btn-sm btn-outline-primary" title="Modificar">Modificar
          </button>
          <button class="btn  btn-sm btn-outline-success" title="Publicar" routerLink="/publicaciones">Publicar
                </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</form>




<form name="FormRegistro" [formGroup]='FormRegistro' *ngIf="AccionABMC == 'A'">
  <div class="container-fluid">
    <fieldset>
      <!-- Campo Nombre -->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Nombre">Nombre<span class="text-danger">*</span>:</label>
        </div>
        <div class="col-sm-8 col-md-6">
          <input type="text" class="form-control" maxlength="30" formControlName="Nombre" [ngClass]="{'is-invalid': (FormRegistro.controls['Nombre'].touched || Submitted)  
            && FormRegistro.controls['Nombre'].errors, 'is-valid': FormRegistro.controls.Nombre.valid}" />

          <div class="validacion" *ngIf="(FormRegistro.controls['Nombre'].touched || Submitted) 
                        && FormRegistro.controls['Nombre'].hasError('required')">
            Dato requerido.
          </div>
          <div class="validacion"
            *ngIf="(FormRegistro.controls['Nombre'].touched || Submitted) 
                       && (FormRegistro.controls['Nombre'].hasError('minlength') || FormRegistro.controls['Nombre'].hasError('maxlength')) ">
            Dato texto, 4 a 30 caracteres.
          </div>
        </div>
      </div>
      <!-- Campo Marca -->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Marca">Marca<span
                    class="text-danger">*</span>:</label>
        </div>
        <div class="col-sm-8 col-md-6">
          <input type="text" class="form-control" maxlength="30" formControlName="Marca"
         [ngClass]="{'is-invalid': (FormRegistro.controls['Marca'].touched || Submitted)  
            && FormRegistro.controls['Marca'].errors, 'is-valid': FormRegistro.controls.Marca.valid}"/>

          <div class="validacion" *ngIf="(FormRegistro.controls['Marca'].touched || Submitted) 
                        && FormRegistro.controls['Marca'].hasError('required')">
            Dato requerido.
          </div>
          <div class="validacion"
            *ngIf="(FormRegistro.controls['Marca'].touched || Submitted) 
                       && (FormRegistro.controls['Marca'].hasError('minlength') || FormRegistro.controls['Marca'].hasError('maxlength')) ">
            Dato texto, 4 a 30 caracteres.
          </div>
        </div>
      </div>


      <!-- Campo descripcion -->
            <div class="row">
              <div class="col-sm-4 col-md-3 offset-md-1">
                <label class="col-form-label">Descripcion:</label>
              </div>
              <div class="col-sm-8 col-md-6">
                <textarea
                  rows="5"
                  class="form-control is-valid"
                  formControlName="Descripcion"
                  maxlength="280"
                ></textarea>
                <small class="d-block text-right"
                  >{{ FormRegistro.value.Descripcion?.length || 0 }} de 280
                  caracteres</small
                >
              </div>
            </div>

      <!-- Campo categoria -->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Categoria">
                Categoria<span class="text-danger">*</span>:
          </label>
        </div>
        <div class="col-sm-8 col-md-6">
          <select name="Categoria" class="form-control" formControlName="Categoria"
        [ngClass]="{'is-invalid': (FormRegistro.controls['Categoria'].touched || Submitted)  
            && FormRegistro.controls['Categoria'].errors, 'is-valid': FormRegistro.controls.Categoria.valid}" >
            <option *ngFor="let cat of Categorias" [ngValue]="cat.Id">
              ‌{{ cat.Nombre }}</option>  
          </select>

    

          <div class="validacion" *ngIf="(FormRegistro.controls['Categoria'].touched || Submitted) 
                        && FormRegistro.controls['Categoria'].hasError('required')">
            Dato requerido.
          </div>
        </div>
      </div>

      <!-- Campo Imagen -->

      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Imagen">Imagen<span
                    class="text-danger">*</span>:</label>
        </div>
        <div class="col-sm-8 col-md-6">
          <input type="text" class="form-control" formControlName="Imagen"
         [ngClass]="{'is-invalid': (FormRegistro.controls['Imagen'].touched || Submitted)  
            && FormRegistro.controls['Imagen'].errors, 'is-valid': FormRegistro.controls.Imagen.valid}"/>

          <div class="validacion" *ngIf="(FormRegistro.controls['Imagen'].touched || Submitted) 
                        && FormRegistro.controls['Imagen'].hasError('required')">
            Dato requerido.
          </div>
          <div class="validacion"
            *ngIf="(FormRegistro.controls['Imagen'].touched || Submitted) 
                       && (FormRegistro.controls['Imagen'].hasError('minlength') || FormRegistro.controls['Imagen'].hasError('maxlength')) ">
            Dato texto, 4 a 55 caracteres.
          </div>
        </div>
      </div>
    
    </fieldset>
<!-- Botones Registrar, Cancelar/Volver' -->
<br>
<br>
<div class="row justify-content-center botones">
  <button type="button" class="btn btn-primary" (click)="Registrar()">
        <i class="fa fa-check"></i> Registrar
    </button>
  &nbsp;
  <button type="button" class="btn btn-warning" (click)="Volver()">
        <i class="fa fa-undo"></i> Volver
    </button>
</div>

  </div>
</form>